:root {
    --term-input-width: 80vw;
    --other-input-width: 89vw;
    --pos-width: 26px; /* in PartOfSpeechModal.tsx */
    --button-set-width: 30vw;

}

.addCardWrapper {
    position: absolute;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 2vh - 61px);
}
.addCardWrapper input::placeholder, .addCardWrapper textarea::placeholder {
    color: #6e6e6e;
}
.addCardWrapper input {
    outline: none;
    border: 0;
    border-bottom: 2px solid #a4a4a4;
    background-color: #fafafa;
    font-family: 'Assistant', sans-serif;
}
.termInput {
    width: var(--term-input-width);
}
.definition {
    border: 0;
    border-bottom: 2px solid #a4a4a4;
    background-color: #fafafa;
    width: 93vw;
}
.exampleUsage {
    background-color: white;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    width: 89vw;
    padding: 2vw;
}
.addCardWrapper textarea {
    outline: none;
    font-size: 1rem;
    height: 3.5rem;
    margin-top: 2.5vh;
    resize: none;
    font-family: 'Assistant', sans-serif;
}
.button {
    background-color: #e6e6e6;
    color: #636363;
    border-radius: 3rem;
}
.buttonOfSet {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    width: var(--button-set-width);
}
.hasTags {
    background-color: #ffceeb;
    color: #222;
}
.otherInput {
    width: var(--other-input-width);
    font-size: 1.2rem;
    margin-top: 3vh;
}

.hole {
    position: fixed;
    z-index: 5;
    box-shadow: 0 0 0 65534px #b9b9b9ab;
    background-color: #b9b9b9ab;
    border-radius: 15px;
    padding: 15px;
}
@keyframes glow {
    from {
        border: 4px solid #E40089;
    }
    to {
        border: 4px solid #E4008905;
    }

}
.holeContour {
    position: fixed;
    z-index: 6;
    padding: 15px;
    border-radius: 100px;
    animation-duration: 1s;
    animation-name: glow;
    animation-iteration-count: infinite;
}

.termHole {
    height: calc(1.5rem);
    width: calc(var(--term-input-width) - 12px);
    top: calc(61px + 1vh);
    left: 1.5vw;
}
.termHoleRtl {
    left: unset;
    right: 1.5vw;
}
.posHole {
    height: calc(var(--pos-width) - 6px);
    width: calc(var(--pos-width) - 6px);
    top: calc(61px + 1vh);
    right: 0;
}
.posHoleRtl {
    right: unset;
    left: 0;
}
.needsRevisionHole {
    height: 3rem;
    width: calc(4vw + var(--button-set-width));
    top: calc(61px + 2vh + 1.5rem + 2.5vh + 2.5vh + 3.5rem + 3.5rem + 4vw + 3vh);
    left: 5vw;
}
.needsRevisionHoleRtl {
    left: unset;
    right: 5vw;
}
.tagsHole {
    height: 3rem;
    width: calc(4vw + var(--button-set-width));
    top: calc(61px + 2vh + 1.5rem + 2.5vh + 2.5vh + 3.5rem + 3.5rem + 4vw + 3vh);
    right: 5vw;
}
.tagsHoleRtl {
    right: unset;
    left: 5vw;
}