.learningBox { 
    color: #6e6e6e;
    width: 100%;
    margin-top: calc(5vh + 50px);
    display: grid;
    align-items: center;
    justify-items: center;
}
.emptyLearningBox {
    grid-template-rows: calc((100vh - 95.5px)*20/100) calc((100vh - 95.5px)*60/100) calc((100vh - 95.5px)*20/100);
}
.populatedLearningBox {

}