@import '../../../css-variables/constants.css';

.settingsWrapper {
    --padding: 1rem;
    height: calc(100vh - 1px - var(--headerHeight) - var(--padding));
    padding-top: var(--padding);
}
.settingsWrapper h1 {
    margin-top: 0;
    margin-inline: 1rem;
    font-size: 1.8rem;
    color: #666;
    font-weight: normal;
}
.languageChoiceRow {
    display: flex;
    justify-content: space-evenly;
}
.languageButton {
    height: 2.4rem;
    width: 25vw;
    display: grid;
    place-items: center;
    border-radius: 50px;
    color: #000;
    border: 1px solid #d9d9d9;
}
.chosenButton {
    font-weight: bold;
    color: #fff;
    background-color: #e40089;
}