@import '../../../css-variables/constants.css';

.packet { 
    color: #6e6e6e;
    width: 100%;
}
.emptyPacket {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: calc((100vh - 61px)*20/100) calc((100vh - 61px)*55/100) calc((100vh - 61px)*25/100);
}
.populatedPacket {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.populatedPacket section {
    width: 50vw;
    box-sizing: border-box;
    border-bottom: 2px dotted #cdcdcd;
    height: 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.populatedPacket section:nth-child(odd) {
    border-right: 2px dotted #cdcdcd;
}
.populatedPacket article {
    width: 100vw;
    height: 7rem;
    display: grid;
    grid-template-rows: 40% 60%;
    border-bottom: 1px solid #cdcdcd;
    color: #000;
    overflow: hidden;
}