.packet { 
    color: #6e6e6e;
    width: 100%;
}
.emptyPacket {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: calc((100vh)*20/100) calc((100vh)*50/100) calc((100vh)*30/100);
}
.populatedPacket {
    display: flex;
    flex-wrap: wrap;
}
.populatedPacket section {
    width: 50vw;
    box-sizing: border-box;
    border-bottom: 2px dotted #999;
    height: 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.populatedPacket section:nth-child(odd) {
    border-right: 2px dotted #999;
}
.populatedPacket article {
    width: 100vw;
    height: 7rem;
    display: grid;
    grid-template-rows: 40% 60%;
    border-bottom: 1px solid #999;
    color: #000;
    overflow: hidden;
}