.navbar {
    display: grid;
    grid-template-columns: 12% 12% 52% 12% 12%;
    position: fixed;
    z-index: 3;
    top: 5vh;
    width: 100vw;
    height: 50px;
    background-color: #fff;
    border-top: 0.5px solid #696969;
    border-bottom: 0.5px solid #696969;
}
.whiteTop {
    background-color: white;
    width: 100%;
    position: fixed;
    height: 5vh;
    top: 0;
}