.optionsMenu {
    width: 55%;
    background-color: white;
    position: fixed;
    top: calc(5vh + 52px);
    right: 0px;
    padding-top: 1rem;
    box-shadow: 0 3px 4px 0 #00000010;
    z-index: 7;
}
.option {
    padding-bottom: 1.2rem;
}
.option a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    
    display: grid;
    grid-template-columns: 30% 70%;
}
.option a img {
    justify-self: center;
    align-self: center;
}