@import '../../css-variables/constants.css';

.bigWhiteButton {
    background-color: white;
    width: var(--bigButtonWidth);
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e6e6e6;
}
.bigWhiteButton h1 {
    color: #7e7e7e;
    font-size: 1.5rem;
}